streamlit
extra-streamlit-components
pandas
plotly
openpyxl
python-docx
Pillow
pypdf
langchain
langchain-community
langchain-groq
faiss-cpu
groq
requests
beautifulsoup4
SpeechRecognition
streamlit-mic-recorder
python-dotenv